<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37711418622-g293thetb0d0p8fmm7ul3170elhgc464.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37711418622-g293thetb0d0p8fmm7ul3170elhgc464</string>
	<key>API_KEY</key>
	<string>AIzaSyAU2Kzi9yamHkOolCJrL7wOVcvU2MSnBPc</string>
	<key>GCM_SENDER_ID</key>
	<string>37711418622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.fun.hakondate.dev</string>
	<key>PROJECT_ID</key>
	<string>hakondate-develop</string>
	<key>STORAGE_BUCKET</key>
	<string>hakondate-develop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37711418622:ios:72f40f96456e67778ec1af</string>
</dict>
</plist>