<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852115917987-k6eb6m9mchn6ksabom2g4fl69tud4c1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852115917987-k6eb6m9mchn6ksabom2g4fl69tud4c1f</string>
	<key>API_KEY</key>
	<string>AIzaSyDUA4C92JkRJPesBR32_K8CJGH1dUfBXNw</string>
	<key>GCM_SENDER_ID</key>
	<string>852115917987</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.ac.fun.hakondate.stg</string>
	<key>PROJECT_ID</key>
	<string>hakondate-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>hakondate-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852115917987:ios:781aeda7ea585082420316</string>
</dict>
</plist>